// Cores da aplicação
$primary-color: #00092C;
$secondary-color: #B20600;
$tertiary-color: #FF5F00;
$quaternary-color: #EEEEEE;

// Fontes
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
$primary-font: 'Roboto', sans-serif;

// Tamanho do texto
$font: 3rem